.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  overflow: auto;
  background: hsl(0 0% 0% / 0.8);
  cursor: zoom-out;
  padding: 2rem;
}

.image {
  margin: auto;
  min-height: 30vh;
  max-height: 90vh;
  width: auto;
  border-radius: 0.5rem;
}
