.container :global(h3) {
  counter-increment: step;

  &::before {
    @apply absolute size-8;
    @apply border-4 border-border bg-gray-300 dark:bg-muted;
    @apply rounded-full text-muted-foreground text-base text-center -indent-px;
    @apply mt-0.5 -ml-10;
    content: counter(step);
  }
}
.container :global(h4) {
  counter-increment: step;

  &::before {
    @apply absolute size-6;
    @apply border-4 border-border bg-muted;
    @apply rounded-full text-muted-foreground text-xs text-center -indent-px;
    @apply -ml-9;
    content: counter(step);
  }
}
.container:global(.bendd-steps p) {
  @apply mt-2;
}
