@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.75rem;
    /* [Radix Colors](https://www.radix-ui.com/colors) */
    --gray-100: 0 0% 99%;
    --gray-200: 0 0% 98%;
    --gray-300: 0 0% 95%;
    --gray-400: 0 0% 93%;
    --gray-500: 0 0% 90%;
    --gray-600: 0 0% 88%;
    --gray-700: 0 0% 85%;
    --gray-800: 0 0% 78%;
    --gray-900: 0 0% 56%;
    --gray-950: 0 0% 51.9%;
    /* sugar-highlight */
    --sh-identifier: #354150;
    --sh-keyword: #f47067;
    --sh-string: #00a99a;
    --sh-class: #8d85ff;
    --sh-property: #4e8fdf;
    --sh-entity: #6eafad;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    /* [Radix Colors](https://www.radix-ui.com/colors) */
    --gray-100: 0 0% 7%;
    --gray-200: 0 0% 10%;
    --gray-300: 0 0% 13%;
    --gray-400: 0 0% 16%;
    --gray-500: 0 0% 19%;
    --gray-600: 0 0% 22%;
    --gray-700: 0 0% 25%;
    --gray-800: 0 0% 31%;
    --gray-900: 0 0% 45%;
    --gray-950: 0 0% 49.1%;
    /* sugar-highlight */
    --sh-class: #4d9ef6;
    --sh-identifier: #6caedd;
    --sh-sign: #cdd3de;
    --sh-property: #3182ce;
    --sh-entity: #2db1bc;
    --sh-jsxliterals: #939dfd;
    --sh-string: #26dabd;
    --sh-keyword: #ff6b6b;
    --sh-comment: #cbc3c3;
  }

  * {
    @apply bd-border-border;
  }
}
