@import 'tailwindcss' prefix(bd);
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --twoslash-underline-color: currentColor;
  --twoslash-highlighted-border: oklch(0.6479 0.1376 69.81 / 31.37%);
  --twoslash-highlighted-bg: oklch(0.6479 0.1376 69.81 / 12.55%);
  --twoslash-popup-shadow: oklch(0 0 0 / 8%) 0px 1px 4px;
  --twoslash-code-font-size: 0.925em;
  --twoslash-error-color: oklch(0.6166 0.1597 22.97);
  --twoslash-error-bg: oklch(0.6166 0.1597 22.97 / 12.55%);
  --twoslash-warn-color: oklch(0.6479 0.1376 69.81);
  --twoslash-warn-bg: oklch(0.6479 0.1376 69.81 / 12.55%);
  --twoslash-tag-color: oklch(0.5616 0.1565 259.25);
  --twoslash-tag-bg: oklch(0.5616 0.1565 259.25 / 12.55%);
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: oklch(0.6436 0.1355 161.78);
  --twoslash-tag-annotate-bg: oklch(0.6436 0.1355 161.78 / 12.55%);
  --twoslash-popup-bg: oklch(0.2238 0.0077 285.76);
  --twoslash-popup-color: oklch(0.9973 0.0131 106.63 / 86%);
  --twoslash-docs-color: oklch(0.9973 0.0131 106.63 / 86%);
  --twoslash-docs-tag-name: var(--twoslash-unmatched-color);
  --twoslash-code-font: inherit;
  --twoslash-underline-color: oklch(0.6268 0 0 / 53.33%);
  --twoslash-border-color: oklch(0.3667 0.0095 260.72);
  --twoslash-cursor-color: oklch(0.8052 0.0661 206.98);
  --twoslash-matched-color: oklch(0.8052 0.0661 206.98);
  --twoslash-unmatched-color: oklch(0.943 0.0134 286.14 / 60%);

  /* Font Families */
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* Custom Breakpoints */
  --breakpoint-xs: 430px;

  /* Custom Easing Functions */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  /* Custom Background Images */
  --color-navigation-highlight: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    oklch(44.6% 0.03 256.802) 20%,
    oklch(21% 0.034 264.665) 67.19%,
    rgba(0, 0, 0, 0)
  );
  --color-navigation-item-top-highlight: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    oklch(70.7% 0.022 261.325) 20%,
    oklch(37.3% 0.034 259.733) 67.19%,
    rgba(0, 0, 0, 0)
  );
  --color-navigation-item: linear-gradient(
    to top right,
    oklch(92.8% 0.006 264.531),
    oklch(87.2% 0.01 258.338),
    oklch(92.8% 0.006 264.531),
    oklch(87.2% 0.01 258.338)
  );

  /* Custom Background Sizes */
  --size-navigation-item: 200% 100%;

  @keyframes dash {
    from {
      stroke-dashoffset: 28;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --gray-100: oklch(0.9911 0 0);
  --gray-200: oklch(0.9821 0 0);
  --gray-300: oklch(0.9551 0 0);
  --gray-400: oklch(0.931 0 0);
  --gray-500: oklch(0.9067 0 0);
  --gray-600: oklch(0.8853 0 0);
  --gray-700: oklch(0.8514 0 0);
  --gray-800: oklch(0.7921 0 0);
  --gray-900: oklch(0.6434 0 0);
  --gray-950: oklch(0.61 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --gray-100: oklch(0.1776 0 0);
  --gray-200: oklch(0.2134 0 0);
  --gray-300: oklch(0.252 0 0);
  --gray-400: oklch(0.285 0 0);
  --gray-500: oklch(0.3132 0 0);
  --gray-600: oklch(0.3485 0 0);
  --gray-700: oklch(0.4017 0 0);
  --gray-800: oklch(0.4891 0 0);
  --gray-900: oklch(0.5382 0 0);
  --gray-950: oklch(0.5829 0 0);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  * {
    @apply bd:border-border bd:outline-ring/50;
  }
  body {
    @apply bd:bg-background bd:text-foreground;
  }

  .toc-navbar {
    position: relative;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border);
    padding-left: 1rem;
  }
  .header-anchor {
    font-weight: 700;
    text-decoration: none;
  }

  .browser-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('./assets/browser_sprites.webp');
    background-position: -10px -10px;
    vertical-align: middle;
    margin-right: 2px;
  }

  .browser-chrome .browser-icon,
  .browser-mobile-chrome .browser-icon {
    background-position: -10px -78px;
  }

  .browser-whale .browser-icon,
  .browser-mobile-whale .browser-icon {
    background-position: -10px -78px;
  }

  .browser-firefox .browser-icon,
  .browser-mobile-firefox .browser-icon {
    background-position: -78px -10px;
  }

  .browser-safari .browser-icon,
  .browser-mobile-safari .browser-icon {
    background-position: -78px -44px;
  }

  .browser-edge .browser-icon,
  .browser-mobile-edge .browser-icon {
    background-position: -44px -44px;
  }

  .browser-opera .browser-icon,
  .browser-mobile-opera .browser-icon {
    background-position: -10px -44px;
  }

  .browser-vivaldi .browser-icon,
  .browser-mobile-vivaldi .browser-icon {
    background-position: -44px -10px;
  }
}

.bend-signature {
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  animation: dash 4s linear alternate infinite;
}
